https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
TgCrypto==1.2.5
pillow==10.2.0
PyMuPdf==1.23.14
PyPDF2==3.0.1
convertapi==1.6.0
pyromod==1.5
fpdf2==2.7.9
ocrmypdf==15.4.4
motor==3.3.2
psutil==5.9.8
pymongo[srv]==4.6.1
hachoir==3.2.0
pytelegrambotapi==4.15.8
python-dotenv==1.0.1
aiohttp==3.9.3
aspose-words==24.1.0
pdfkit==1.0.0
beautifulsoup4==4.12.3
requests==2.31.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
flask==3.0.2
gunicorn==21.2.0
